<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add this: internet is already present -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Optional but recommended: declare camera hardware -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <!-- If scanning is optional in your app, set required="false" instead. -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WatchMatesApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watchmates"
        tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Watchmates.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Watchmates" />
    </application>
</manifest>
